.appMainBg {
    /* background-color: #85586F; */
    color: white;
    text-align: center;
}

h1 {
    padding: 15px;
}

.inputItem {
    background: #CDC2AE;
    color: black;
}

.addBtn {
    background-color: #C2DED1;
    color: black;
}

.itemContainer {

}

.btn {
    margin: 2%;
}